.tags-view {
  padding: 16px;
}

.tags-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.tags-title {
  font-size: 1.55rem;
  font-weight: bold;
}

.tags-table {
  width: 100%;
  border-collapse: collapse;
  background: #15131a;
  border: none;
}

.tags-table th,
.tags-table td {
  padding: 8px;
  border-bottom: 1px solid #3f3f3f;
  text-align: left;
}

.tags-table th {
  background: #15131a;
}

.no-tags {
  text-align: center !important;
  padding: 12px;
  color: #777;
}

.tag-label {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 0.85rem;
  color: white;
}

.actions .btn {
    font-size: 16px;
    width: 40px;
    margin-right: 5px;
}

/* Buttons */
.btn {
  padding: 6px;
  font-size: 0.85rem;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: 1px solid #4f4b52;
  border-radius: 2px;
}

.btn-primary {
  background: #2b272e;
  color: white;
}

.btn-primary:hover {
  background: #3c3741;
}

.btn-danger {
  background: #2b272e;
  color: white;
}

.btn-danger:hover {
  background: #3c3741;
}

.input, .textarea {
  width: 100%;
  padding: 6px;
  color: white;
  margin-bottom: 10px;
  background-color: #2b272e;
  border: 1px solid #4f4b52;
  border-radius: 2px;
}

.textarea {
  min-height: 60px;
  resize: none;
}

.color-picker {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}
